.control-section-flower-shop-elementor h3.accordion-section-title {
  line-height: 30px;
}
#customize-theme-controls .control-panel-themes>.accordion-section-title, 
#customize-theme-controls .control-panel-themes>.accordion-section-title:hover{
  margin: 0;
}
.control-section-flower-shop-elementor h3.accordion-section-title a{
  float: right;
}
#accordion-section-flower_shop_elementor_upgrade_pro h3 a{
  background:#f89300 ;
  border-color: #f89300;
  outline-color:#f89300 !important;
}
#accordion-section-flower_shop_elementor_upgrade_pro h3 {
  color: #50575e !important;
  background-color: #fff !important;
}
#accordion-section-flower_shop_elementor_upgrade_pro h3 a:hover{
  background: #dc8200;
  border-color: #dc8200;
  outline-color:#f89300 !important;
}
input#_customize-input-logo_size{
  width: 100%;
}