@media only screen and (max-width: 1200px) {
    .search-filter-wrap form .filter-inputwrap .form-group input#search-keywords {
        width: 200px;
    }
    .search-filter-wrap .form-group {
        width: calc(50% - 20px);
        float: left;
        margin: 10px;
    }
    .site-branding {
        max-width: 150px;
    }

    .filter-inputwrap {
        display: block;
        /* flex-wrap: nowrap; */
    }
    .search-filter-wrap form .filter-inputwrap .form-group input#search-keywords,
    .search-filter-wrap .form-group div#job_category_chosen, .search-filter-wrap .form-group div#job_region_chosen{
    width: 100% !important;}
    .search-filter-wrap button.btn.btn-primary {
        width: 100%;
    }
    .banner-content {
        padding-top: 70px;
    }
    .search-filter-wrap {
        margin-top: 40px;
        float: left;
        width: 100%;
    }
    section#header-slider {
        padding-bottom: 70px;
    }
}

@media only screen and (max-width: 991px) {
    .newsletter-content {
        max-width: none;
        text-align: center;
        margin-bottom: 30px;
    }
    .callout-section.section [class*="col-"] {
        margin-bottom: 20px;
    }
    .job_filters .search_jobs div.search_location, .job_filters .search_jobs div.search_keywords, .job_filters .search_jobs div.filter_first, .job_filters .search_jobs div.search_region, .job_filters .search_jobs div.search_categories, .job_filters .search_jobs div.search_submit {
        width: calc(50% - 20px);
        margin-bottom: 10px;
    }
    .single-company .sidebar-shadow {
        margin-top: 40px;
    }
    .grid-layout.job-cateory-with-image .single-job-cat {
        width: calc(50% - 30px);
        max-width: calc(50% - 30px);
        margin: 15px !important;
    }
    .single-job-client {
        max-width: calc(33.33% - 20px);
        -webkit-box-flex: 0;
        flex: calc(33.33% - 20px);
        margin: 10px;
    }
    .grid-layout .single-job-cat {
        width: calc(50% - 15px);
        max-width: calc(50% - 30px);
        margin: 15px !important;
    }
    button.close-menu,button.open-menu {
        display: block;
    }
    .elementor-widget-Ctea-blog .col-md-4 {
        margin-bottom: 30px;
    }
    section#banner-section h1.elementor-heading-title.elementor-size-default {
        font-size: 50px;
        line-height: 66px;
    }
    section#banner-button .elementor-column {
        width: auto !important;
    }
    ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:hover .dropdown-sub, ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:focus .dropdown-sub, ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:focus-within .dropdown-sub {
        position: relative;
    }
aside#secondary.widget-area {
    padding-left: 0px;
}
button.close-menu i {
	margin-left: 10px;
}button.close-menu:focus {
	background: #675cff !important;
}
.header-search-form .search-form .search-field{
    width: 100%;
}
ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:hover .dropdown-sub, ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:focus .dropdown-sub, ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:focus-within .dropdown-sub {
    left: 0 !important;
}
ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:hover .dropdown-sub, ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:focus .dropdown-sub, ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:focus-within .dropdown-sub{
    left: 0 !important;
}
ul#menu-main li.menu-item-has-children:hover .dropdown-menu, ul#menu-main li.menu-item-has-children:focus .dropdown-menu, ul#menu-main li.menu-item-has-children:focus-within .dropdown-menu{
    background: #f7f7f7 !important;
	position: relative;
}
ul#menu-main li a {
	padding-left: 10px !important;
}
button.close-menu {
	background: #000 !important;
}
ul#menu-main li a:focus{
    background: #675cff !important;
    color: #fff !important;
}

h2.site-title {
	text-align: left;
}
.header-mobile {
    display: block;
    padding: 15px 25px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #eee;
}
.site-branding {
    float: left;
}
.navbar-nav li.menu-item-has-children .dropdown-menu li.menu-item-has-children>.dropdown-sub {
    border: none;
    box-shadow: none !important;
    display: none !important;
}
.navbar-nav .dropdown-menu {
    opacity: 1;
    display: none !important;
}
.navbar-nav li.menu-item-has-children:hover .dropdown-menu, .navbar-nav li.menu-item-has-children:focus .dropdown-menu, .navbar-nav li.menu-item-has-children:focus-within .dropdown-menu {
    display: block !important;
}
.home.page-template-template-home header#masthead ul#menu-main li a {
    color: #000;
}

.search-wrap {
    float: none;
    text-align: right;
}
h2.site-title {
    font-size: 26px;
    margin-bottom: 5px;
}
p.site-description {
    font-size: 14px;
}
a.custom-logo-link img {
    height: 42px;
    width: auto;
}
.navbar-collapse.collapse{
    display: none !important;
}
.navbar-collapse {
    width: 100%;
    background: #fff;
    float: left; 
}
.custom-logo-link, .logo-wrap {

    text-align: center;
}
ul#menu-main {
    margin: 0;
    float: none;
    display: block;
}
.navbar-nav>li {
    display: block;
    width: 100%;
    float: none;
}
ul#menu-main li a {
	color: #565656;
	padding-top: 10px;
	padding-bottom: 10px;
}
#menu-main .dropdown-menu {
    position: relative;
    left: auto;
    top: auto;
}
.navbar-nav li.menu-item-has-children .dropdown-menu li.menu-item-has-children>.dropdown-sub {
    display: none !important;
}
.navbar-nav li.menu-item-has-children .dropdown-menu li.menu-item-has-children:hover .dropdown-sub {
    display: block !important;
}
.navbar-nav>li>.dropdown-menu, ul.dropdown-menu.dropdown-sub {
    box-shadow: none !important;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.navbar-nav>li>.dropdown-menu, ul.dropdown-menu.dropdown-sub {
    width: 100%;
}
.header-social {
    margin-right: 10px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    font-family: none;
}
.home.page-template-template-home .navbar-toggle .icon-bar {
    background: #fff;
}
#menu-main .dropdown-menu {
    position: relative;
    float: none;
}
.navbar-collapse.in {
    overflow-y: auto;
    overflow-x: hidden;
    display: block !important;
}
.navbar-collapse{
    padding: 0;
}
button.navbar-toggle {
    float: right;
    display: inline-block;
    background: #675cff;
    margin: 0;
    position: relative;
    top: 5px;
}
div#navbar-collapse ul {
	width: 100% !important;
}
ul#menu-main li a{
    border-right: none !important;
}
a.header-btn.btn.btn-default {
	float: none;
	margin-left: 0;
	margin-top: 15px;
    margin-bottom: 20px;
	width: 100%;
}
.about-section-img {
    margin-bottom: 30px;
}
.mobile-wrap {
    text-align: right;
}
.header-social a.social-btn {
    font-size: 16px;
    width: 34px;
    height: 34px;
    line-height: 16px;
}
.cta-content {
	padding-left: 0;
	padding-right: 0;
	margin-top: 30px;
}
.header-social a.social-btn {
    font-size: 16px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    padding: 0;
}
.navbar-toggle {
    padding: 13px 10px;
}
ul#menu-main {
    text-align: left;
}

.navbar-nav>li {
    border-bottom: 1px solid #eee;
}
.header-search-form {
    margin-top: 20px;
}
div#lms_courses_wrap.course-grid.fourcol .courses-list-wrap {
	width: calc(50% - 30px) !important;
	margin-bottom: 30px;
}
div#lms_courses_wrap.course-grid .row.flex {
	display: flex;
	flex-wrap: wrap;
}
div#lms_courses_wrap .col-md-8 {
	float: left;
}
div#lms_courses_wrap .col-md-4 {
	float: right;
}
.section.about-sec {
	padding-top: 0;
}
.cta-content {
	text-align: center;
}
}

@media only screen and (max-width: 767px) {
    .job-manager-form {
        padding: 0 15px;
    }
    .premium-jobs li.job_listing {
        max-width: none !important;
        width: 100% !important;
        margin: 0;
    }
    .single-job-client {
        max-width: calc(50% - 20px);
        -webkit-box-flex: 0;
        flex: calc(50% - 20px);
        margin: 10px;
    }
    .premium-jobs > .row {
    	margin: 0 15px;
    }
    .premium-jobs > .row {
        display: block;
    }
    ul.job_listings li.job_listing a div.position, ul.job_listings li.no_job_listings_found a div.position{
        float: none;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    ul.job_listings li.job_listing a div.location, ul.job_listings li.no_job_listings_found a div.location,
    ul.job_listings li.job_listing a .meta, ul.job_listings li.no_job_listings_found a .meta{
        float: none;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .rp4wp-related-job_listing>ul, ul.job_listings {
        display: flex;
        flex-wrap: wrap;
    }
    ul.job_listings li.job_listing a, ul.job_listings li.no_job_listings_found a {
        padding: 0;
    }
    .rp4wp-related-job_listing>ul li.job_listing, .rp4wp-related-job_listing>ul li.no_job_listings_found, ul.job_listings li.job_listing, ul.job_listings li.no_job_listings_found {
        padding-top: 10px;
        padding-bottom: 10px;
        width: calc(33.33% - 30px) !important;
        margin: 15px;
    }
    .rp4wp-related-job_listing>ul li.job_listing a div.position, .rp4wp-related-job_listing>ul li.job_listing a div.location, .rp4wp-related-job_listing>ul li.job_listing a ul.meta, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.position, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.location, .rp4wp-related-job_listing>ul li.no_job_listings_found a ul.meta, ul.job_listings li.job_listing a div.position, ul.job_listings li.job_listing a div.location, ul.job_listings li.job_listing a ul.meta, ul.job_listings li.no_job_listings_found a div.position, ul.job_listings li.no_job_listings_found a div.location, ul.job_listings li.no_job_listings_found a ul.meta {
        margin-top: 10px;
    }
.blog article.hentry, .archive article.hentry, .search-results article.hentry {
	vertical-align: top;
	margin: 0 15px;
	width: calc(50% - 30px);
	margin-bottom: 30px;
}
    .blog-section .section-title {
        padding-left: 30px;
        padding-right: 30px;
    }
.header-search-form {
    width: 100%;
    margin: 0;
    max-width: none;
    margin-top: 20px;
}
.search-wrap {
    float: none;
    text-align: center;
}

.logo-wrap {
    text-align: center;
}
.custom-logo-link, .logo-wrap {
    display: inline-block;
    float: none;
}
a.custom-logo-link {
    position: relative;

}

	.hero-section .stuff {
	    max-width: 100%;

	}

	section#about .col-md-7 {
    padding-right: 20px;
}
.explore-section .section-title {
    margin-left: 0;
    padding-left: 20px;
}
.header-search-form {
	max-width: 80%;
}
.cta-sec .cta-title {
    font-size: 33px;
    line-height: 53px;
}
.blog-wrap {
    margin-bottom: 40px;
}
.blog-wrap {
    margin: 0 99px;
    margin-bottom: 40px;
}
header#masthead {
    padding: 18px 20px;
}
.header-social .social-icon a, .header-social .header-phone a {
    color: #000;
    font-size: 15px;
}

button#btn-search {
    margin-right: 15px;
}
.custom-slideshow .custom-slide {
    margin: 0 50px;
}
.about-section-img {
    text-align: left;
}
.blob-wrapper__background {
    height: 100%;
    bottom: 0;
}
.cta-content .cta-title {
    text-align: center;
}
}



@media only screen and (max-width: 600px) {
    .box-head-single.box-head-single-company {
        display: block;
    }
    .box-head-single {

        padding: 48px 27px;

    }
    a#opening-jobs {
        margin-bottom: 30px;
        padding-left: 15px;
    }
.heading-image-rd, .heading-main-info {
	float: none;
	text-align: left;
}
.heading-image-rd {
	margin-bottom: 20px;
}
    section#banner-button .elementor-column {
        width: 100% !important;
        text-align: center !important;
    }
section#primary.about-sec .col-md-7{
    padding-right: 10px;
}
.blog article.hentry, .archive article.hentry, .search-results article.hentry {
	width: 100%;
	margin: 0 !important;
    margin-bottom: 30px !important;
}

.blog-wrap {
    margin: 0 20px;
    margin-bottom: 40px;
}
.about-second-wrap {
    padding: 0 20px;
}
.about-section-img {
    margin-top: 0;
    padding: 0 20px;
}
div#lms_courses_wrap.course-grid.fourcol .courses-list-wrap {
    width: 100% !important;
	margin: 0 !important;
	padding-left: 15px;
	padding-right: 15px;
    margin-bottom: 30px !important;
}
div#lms_courses_wrap.course-grid .row.flex {
	display: block;
}
div#lms_courses_wrap .col-md-8 {
	float: none;
	text-align: center;
}
.text-left .section-title {
	text-align: center;
	margin-bottom: 20px;
}
div#lms_courses_wrap .col-md-4 {
	float: none;
	text-align: center;
	margin-bottom: 40px;
}
}

@media only screen and (max-width: 550px) {
    .grid-layout.job-cateory-with-image .single-job-cat {
        width: 100%;
        max-width: 100%;
        margin: 15px !important;
    }
    .single-job-client {
        max-width: 100%;
        -webkit-box-flex: 0;
        flex: 100%;
        margin: 10px;
    }
    .grid-layout .single-job-cat {
        width: 100%;
        max-width: none;
        margin: 0 !important;
        margin-bottom: 15px !important;
    }
    .header-search-form {
        max-width: 100%;
    }
.hero-section.image .col-md-6 {
    padding: 95px 45px;
}
.explore-section .section-title{
	max-width: none;
}
.blog-wrap {
    margin: 0 20px;
    margin-bottom: 40px;
}
.quote-wrap {
    padding: 40px 25px;
}
.search-filter-wrap .form-group {
    width: 100%;
    float: none;
    margin: 0;
    margin-bottom: 5px;
}
.rp4wp-related-job_listing>ul li.job_listing, .rp4wp-related-job_listing>ul li.no_job_listings_found, ul.job_listings li.job_listing, ul.job_listings li.no_job_listings_found {
    padding-top: 10px;
    padding-bottom: 10px;
    width: calc(50% - 30px) !important;
    margin: 15px;
}
}

@media only screen and (max-width: 480px) {
body {
    overflow-x: hidden;
}
}

@media only screen and (max-width: 450px) {
/* .site-branding {
    display: block;
    float: none;
    text-align: center;
    padding: 0;
} */
.mobile-wrap {
    text-align: center;
    margin-top: 10px;
}
.header-social {
    margin: 0;
}
}

@media only screen and (max-width: 400px) {
.rp4wp-related-job_listing>ul li.job_listing, .rp4wp-related-job_listing>ul li.no_job_listings_found, ul.job_listings li.job_listing, ul.job_listings li.no_job_listings_found {

    width: 100% !important;
    margin: 0;
    margin-bottom: 10px;
}
.job_filters .search_jobs div.search_location, .job_filters .search_jobs div.search_keywords, .job_filters .search_jobs div.filter_first, .job_filters .search_jobs div.search_region, .job_filters .search_jobs div.search_categories, .job_filters .search_jobs div.search_submit {
	width: 100%;
	margin-bottom: 10px;
}
}

@media (max-width: 780px){
#main, #sidebar {
    width: 100%;
    float: none;
    clear: both;
}
}
